##
# Ignore everything in node_modules except bootstrap.min.css
# This syntax is clunky. Improvements welcome.
##
node_modules/*
node_modules/bootstrap/*
node_modules/bootstrap/dist/*
node_modules/bootstrap/dist/css/*
!node_modules/bootstrap
!node_modules/bootstrap/dist
!node_modules/bootstrap/dist/css
!node_modules/bootstrap/dist/css/bootstrap.min.css

